/* Header */
header {
    display: block;
}

header img {
    margin-left: 6%;
}

/* UL Menu */
ul#menu {
    float: right;
    list-style-type: none;
    margin-right: 3%;
    margin-top: 0.8%;
    padding: 0;
}

ul#menu li {
    float: left;
    margin: 0px 20px 0px 20px;
}

ul#menu li:last-child {
    margin: 0;
}

ul#menu li span {
    color: #484848;
    font-weight: bold;
    font-size: 25px;
    display: block;
}

#fb {
    color: #3578E5;
}

#twitter {
    color: #55acee;
}

/*Login & Search Forms*/
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container label {
    font-weight: bold;
}

.form-container input, #select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input, #select {
    background-color: #ddd;
    outline: none;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

#login_form, #search_form {
    display: none;
    position: fixed;
    top: 20%;
    right: 2%;
    border: 3px solid #f1f1f1;
    z-index: 1;
}

.pointer {
    cursor: pointer;
}

#search {
    color: lightgreen;
    font-size: 20px;
    margin-top: 10%;
    float: right;
}

/* UL Nav*/
ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    width: 100%;
}

ul#nav li {
    float: left;
    margin: 0px 20px 0px 20px;
}

ul#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
   background-color: #4CAF50;
}

/*Section*/
section {
    background-color: #f5f5f5;
    max-width: 1000px;
    padding: 10px;
    margin: auto;
}

section h2 {
    margin: 2% 12.5% 2% 12.5%;
}

section p {
    text-align: justify;
}

/* Buy Tickets & Payment Section*/
#buy_tickets {
    text-align: center;
    margin: 20px 0px 30px 0px;
}

#payment_confirmation {
    text-align: center;
}

#buy_tickets a, #payment_confirmation a {
    color: black;
    text-decoration: none;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    height: 100px;
}

footer h1 {
    font-size: 1.1em;
}

footer img {
    margin-left: 10px;
    background-color: #333;
}

footer p {
    display: inline;
}

footer p:last-child {
    margin-left: 5%;
}

#follow {
    float: left;
    margin-top: 0.8%;
    width: 35%;
    background-color: #333;
}

#mleft {
    margin-left: 20px;
}

#contact {
    float: right;
    margin-top: 0.8%;
    background-color: #333;
    width: 65%;
}

#contact a {
    color: white;
    text-decoration: none;
}

#contact a:hover {
    color: lightblue;
}

#contact a:focus {
    color: #a0b9ba;
}