/* Header */
header {
    display: block;
}

header img {
    margin-left: 6%;
}

/* UL Menu */
ul#menu {
    float: right;
    list-style-type: none;
    margin-right: 3%;
    margin-top: 0.8%;
    padding: 0;
}

ul#menu li {
    float: left;
    margin: 0px 20px 0px 20px;
}

ul#menu li:last-child {
    margin: 0;
}

ul#menu li span {
    color: #484848;
    font-weight: bold;
    font-size: 25px;
    display: block;
}

#fb {
    color: #3578E5;
}

#twitter {
    color: #55acee;
}

/*Login & Search Forms*/
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container label {
    font-weight: bold;
}

.form-container input, #select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input, #select {
    background-color: #ddd;
    outline: none;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

#login_form, #search_form {
    display: none;
    position: fixed;
    top: 20%;
    right: 2%;
    border: 3px solid #f1f1f1;
    z-index: 1;
}

.pointer {
    cursor: pointer;
}

#search {
    color: lightgreen;
    font-size: 20px;
    margin-top: 10%;
    float: right;
}

/* UL Nav*/
ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    width: 100%;
}

ul#nav li {
    float: left;
    margin: 0px 20px 0px 20px;
}

ul#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

/*Section*/
section {
    background-color: #f5f5f5;
    padding: 10px;
    margin: auto;
    max-width: 1000px;
}

section h2 {
    margin: 2% 12.5% 2% 12.5%;
}

section h2 span {
    margin-left: 2%;
}

/* Upcoming Events Section*/
#upcoming-events {
    display: flex;
    justify-content: center;
}

.event {
    width: 20%;
    padding: 20px 30px 20px 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
}

.event img {
    height: 250px;
    width: 220px;
}

.event>a {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #b2cecf;
    text-decoration: none;
}

.event>:hover {
    background-color: #a0b9ba;
}

.description {
    font-size: 1.1em;
}

#upcoming-events h3, h5 {
    text-align: center;
}

/* Buy Tickets & Payment Section*/
#tickets, #payment {
    width: 300px;
    text-align: left;
    background-color: #b2cecf;
    padding: 20px;
    border: solid 2px black;
    margin: 2.5% 12.5% 2.5% 12.5%;
}

#buy_tickets {
    text-align: center;
    margin: 20px 0px 30px 0px;
}

#payment_confirmation {
    text-align: center;
}

#buy_tickets a, #payment_confirmation a {
    color: black;
    text-decoration: none;
}

.creditCardForm {
    max-width: 700px;
    background-color: #f5f5f5;
    overflow: hidden;
    margin-left: 20%;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    margin-right: 20%;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm #payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm #payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm #payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm #payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}

.creditCardForm #payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    height: 100px;
}

footer h1 {
    font-size: 1.1em;
}

footer img {
    margin-left: 10px;
    background-color: #333;
}

footer p {
    display: inline;
}

footer p:last-child {
    margin-left: 5%;
}

#follow {
    float: left;
    margin-top: 0.8%;
    width: 35%;
    background-color: #333;
}

#mleft {
    margin-left: 20px;
}

#contact {
    float: right;
    margin-top: 0.8%;
    background-color: #333;
    width: 65%;
}

#contact a {
    color: white;
    text-decoration: none;
}

#contact a:hover {
    color: lightblue;
}

#contact a:focus {
    color: #a0b9ba;
}