textarea:focus, input:focus{
    outline: none;
}

#wrapper {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20px, 100px;
}

#message {
	grid-column: 1;
	grid-row: 1;
	color: #7cb021;
	font-size: 25px;
	margin-left: 3px;
}

#form {
	grid-column: 1;
	grid-row: 2;
}

#form_wrapper {
	display: grid;
	grid-template-columns: 250px 250px;
	grid-template-rows: 80px 40px 30px 30px 70px 25px;
	width: 500px;
	grid-row-gap: 10px;
	grid-column-gap: 20px;
}

#choose_form {
	grid-column: 1 / span 2;
	grid-row: 1;
	margin-top: 10px;
    border: 2px solid lightgrey;
}

#choose_form p {
    width: 120px;
    margin-top: -10px;
    margin-left: 10px;
    background: white;
}

#choose_form input {
	margin-left: 20px;
}

#dropdown {
	grid-column: 1 / span 2;
	grid-row: 2;
}

#name {
	grid-column: 1;
	grid-row: 3;
}

#surname {
	grid-column: 2;
	grid-row: 3;
}

#email {
	grid-column: 1;
	grid-row: 4;
}

#booknum, #phone {
	grid-column: 2;
	grid-row: 4;
}

#textarea {
	grid-column: 1 / span 2;
	grid-row: 5;
}

#send {
	grid-column: 1;
	grid-row: 6;
	width: 100px;
	background-color: #008ed8;
    color: #fff;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

input {
	border: none;
}

.divinput {
	border: grey 1px solid;
	color: grey;
	padding: auto;
}

.divinput label {
	margin-left: 5px;
}